## MMTHE01 - Masters Thesis

### 1. Thesis - Create a working model
* Feature engineering and feature selection procedures will be done
* A base model will be created
* Several models will be tried and a good model selected
* All assumptions made in this step will be documented

#### Bivariate Analysis

* Refer to Power BI

In [4]:
import pandas as pd
import numpy as np

In [13]:
dataset = pd.read_csv('dataset.csv')

In [42]:
dataset.head(1)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,is_fraud,year,month,day_of_month,day_of_week,hour,merchant_r,full_name,GPS,merch_GPS
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,0,2019,January,1,Tuesday,0,"Rippin, Kub and Mann",JenniferBanks,"36.0788,-81.1781","36.011293,-81.1781"

#### Statistics function

In [45]:
def fraud_statistics(key, target):
    txs = dataset.groupby(key)[target].count().to_frame().reset_index()
    txs.rename(columns={target:'no_of_txs'}, inplace=True)

    frauds = dataset.groupby(key)[target].sum().to_frame().reset_index()
    frauds.rename(columns={target:'fraudulent_txs'}, inplace=True)

    details = txs.merge(frauds, how='outer', left_on=key, right_on=key)

    details['%_fraudulent_txs'] = details['fraudulent_txs']/details['no_of_txs']

    details['%_of_total_frauds'] = details['fraudulent_txs']/sum(details['fraudulent_txs'])

    return details

#### User GPS wise statistics

In [46]:
gps_wise_details = fraud_statistics('GPS', 'is_fraud')

In [47]:
gps_wise_details.head()

,GPS,no_of_txs,fraudulent_txs,%_fraudulent_txs,%_of_total_frauds
0,"20.0271,-155.3697",2186,7,0.003202,0.000725
1,"20.0827,-155.488",1463,9,0.006152,0.000933
2,"24.6557,-81.3824",3655,11,0.003010,0.001140
3,"26.1184,-81.7361",5108,18,0.003524,0.001865
4,"26.3304,-81.5871",741,11,0.014845,0.001140

#### Merchant GPS wise statistics

In [48]:
merchgps_wise_details = fraud_statistics('merch_GPS', 'is_fraud')

In [49]:
merchgps_wise_details.head()

,merch_GPS,no_of_txs,fraudulent_txs,%_fraudulent_txs,%_of_total_frauds
0,"19.027422,-155.3697",1,0,0.0,0.0
1,"19.027785,-155.3697",1,0,0.0,0.0
2,"19.027804,-155.3697",1,0,0.0,0.0
3,"19.027849,-155.3697",1,0,0.0,0.0
4,"19.029798,-155.3697",1,0,0.0,0.0

#### Merchant wise statistics

In [50]:
merchant_wise_details = fraud_statistics('merchant_r', 'is_fraud')

In [51]:
merchant_wise_details.head()

,merchant_r,no_of_txs,fraudulent_txs,%_fraudulent_txs,%_of_total_frauds
0,Abbott-Rogahn,2647,4,0.001511,0.000414
1,Abbott-Steuber,2529,8,0.003163,0.000829
2,Abernathy and Sons,2513,4,0.001592,0.000414
3,Abshire PLC,2733,9,0.003293,0.000933
4,"Adams, Kovacek and Kuhlman",1354,5,0.003693,0.000518

#### Category wise statistics

* Refer to Power BI