## MMTHE01 - Masters Thesis

### 1. Thesis - Create a working model
* Feature engineering and feature selection procedures will be done
* A base model will be created
* Several models will be tried and a good model selected
* All assumptions made in this step will be documented

#### Importing the libraries

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#### Importing the dataset

##### Train Dataset

In [11]:
train_dataset = pd.read_csv('fraudTrain.csv')
X_train = train_dataset.iloc[:, :-1].values
y_train = train_dataset.iloc[:, -1].values

In [13]:
train_dataset.head(1)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0

In [14]:
print(X_train)

[[0 '2019-01-01 00:00:18' 2703186189652095 ... 1325376018 36.011293
  -82.048315]
 [1 '2019-01-01 00:00:44' 630423337322 ... 1325376044 49.159047
  -118.186462]
 [2 '2019-01-01 00:00:51' 38859492057661 ... 1325376051 43.150704
  -112.154481]
 ...
 [1296672 '2020-06-21 12:12:32' 3514865930894695 ... 1371816752 33.619513
  -105.130529]
 [1296673 '2020-06-21 12:13:36' 2720012583106919 ... 1371816816 42.78894
  -103.24116]
 [1296674 '2020-06-21 12:13:37' 4292902571056973207 ... 1371816817
  46.565983 -114.18611]]

In [17]:
print(y_train)

[0 0 0 ... 0 0 0]

##### Test Dataset

In [18]:
test_dataset = pd.read_csv('fraudTest.csv')
X_test = train_dataset.iloc[:, :-1].values
y_test = train_dataset.iloc[:, -1].values

In [19]:
test_dataset.head(1)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0

In [20]:
X_test

array([[0, '2019-01-01 00:00:18', 2703186189652095, ..., 1325376018,
        36.011293, -82.048315],
       [1, '2019-01-01 00:00:44', 630423337322, ..., 1325376044,
        49.159047, -118.186462],
       [2, '2019-01-01 00:00:51', 38859492057661, ..., 1325376051,
        43.150704, -112.154481],
       ...,
       [1296672, '2020-06-21 12:12:32', 3514865930894695, ...,
        1371816752, 33.619513, -105.130529],
       [1296673, '2020-06-21 12:13:36', 2720012583106919, ...,
        1371816816, 42.78894, -103.24116],
       [1296674, '2020-06-21 12:13:37', 4292902571056973207, ...,
        1371816817, 46.565983, -114.18611]], dtype=object)

In [21]:
y_test

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

## Taking care of missing data

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [ ]:
print(X)

## Encoding categorical data

### Encoding the Independent Variable

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [ ]:
print(X)

### Encoding the Dependent Variable

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [ ]:
print(y)

## Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [ ]:
print(X_train)

In [ ]:
print(X_test)

In [ ]:
print(y_train)

In [ ]:
print(y_test)

## Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
print(X_train)

In [ ]:
print(X_test)